@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
This is a Test message<br />
    For Understanding GIT<br />
   Git Vs TFS<br />
    Learning Path
</address>

