@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC With Web API CRUD</h1>
    <p class="lead">We have created a MVC application and connect with Web API and see all CRUD actions</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">By Jim Chacko</a></p>
</div>

